@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.navigation span{
    float: right;
    border-bottom: #a2b7dd solid 1px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 5px;
}
span a{
    
    font-size: 1.3em;
    text-decoration: none;
    text-transform: none;
    color: #a2b7dd;
    font-family: 'Roboto Slab', serif;;

}
.navigation{
  
    float: right;
    margin-right: 200px;
}
body{
    height: 100%;
    background-image: url(../image/stars.png) ;
    resize: none;
    background-repeat: none;
}
article{
    width: 90%;
    height: 400px;
    
    margin-left: 150px;
    margin-top: 100px;
    position: absolute;
}
.profileContent{
    
    height: 100%;
    padding-top: 50px;
    width: 100%;
}

.logo{
    float: left;
   
    margin-left: 100px;
    margin-top: 20px;
}
.logo img{
    height: 60px;
    width: 220px;   
   }
.profilImg{
   background: #748bb4b6; 
   margin-left: 350px;
    border: #5206b6 solid 2px;
   float: left;
   height: 210px;
   width: 210px;
   border-radius: 105px;
}
.profilImg img{
margin: 15px;
height: 180px;
   width: 180px;
}
.profilImg input{
    margin-top: 20px;
}
.userInfo{
    padding-left: 20px;
    
    float: left;
    width: 300px;
    
}
.info{
    width: 400px;
    border: #4906b6 solid 3px;
    display: block;
    background:linear-gradient(45deg,#17123069,#17123000);
    margin-top: 15px;
    margin-right: 70px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 20px;
    padding-left: 20px;
}

.custom-file-upload {
    width: 180px;
    border: 3px solid #ccc;
    display: inline-block;
    padding: 6px 36px;
    cursor: pointer;
    color:#a2b7dd;
    background: #5206b6e8;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    border-top: none;
    border-bottom: none;
}
.custom-file-upload input{
    
    display: none;
}

.info input{
    border:none;
    background: none;
    height: 45px;
    width: 335px;
    color: #b8aaf7d2;
    outline: none;
    font-size: 1.3em;
    
}
.label{
    float: left;
}
.labelInfo{
    color: #b8aaf7d2;
    
    width: 100px;
    display: block;
    font-family:'Lexend Deca', sans-serifs;
    margin-top: 15px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
input[type="data"]{
 display: ruby;
}
    input[type=date]::-webkit-clear-button, /* blue cross */
    input[type=date]::-webkit-inner-spin-button, /* up */
    input[type=date]::-webkit-outer-spin-button, /* down */
    input[type=date]::-webkit-calendar-picker-indicator /* datepicker*/ {
        display: none;
    }
.skills span{
   
    color: #b8aaf7d2;
    font-family: 'Lexend Deca', sans-serifs;
    display: block;
}
.skills{
    margin-top: 30px;
    font-size: 20px;
    padding-left:20px; 
}
.AboutMe{
    width: 400px;
    border: #4906b6 solid 3px;
    display: block;
    background:linear-gradient(45deg,#17123069,#17123000);
    margin-top: 15px;
    margin-right: 70px;
    height: 120px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 20px;
    padding-left: 20px;
}
.AboutMe textarea{
    border:none;
    background: none;
    height: 120px;
    width: 335px;
    color: #b8aaf7d2;
    outline: none;
    font-size: 1.3em;
    resize: none;
    overflow: hidden;
}

